/*  Styles for versed.js
    (c) Arthur Attwell
    https://arthurattwell.com
    MIT licence */

// Options
$runover-indent: 1em;
$line-numbers-color: #CCCCCC;
$line-numbers-size: 0.8em;

//  Verse in a block centres on its longest line,
//  which is best-practice for poetry layout.
//  Table display gives us that, and (unlike inline-block)
//  also breaks between lines in paged output.
.versed-wrapper {
    display: table;
    margin: auto;
}
.versed {
    display: table-cell;
    margin: auto;
    text-align: left;
    p {
        hyphens: manual;
        text-align: left;
        widows: 2;
        orphans: 2;
        // Avoid inheriting book-style paragraphs
        // that are closed up and indented.
        // Margin-bottom may need case-by-case overriding.
        margin-bottom: initial;
        text-indent: 0;
    }
}

// Allow for verse marked up in blockquotes,
// by removing the usual user-agent padding from these blockquotes
// which renders them much like divs.
blockquote.versed {
    margin: 0;
}

// Make runover lines indented
.versed [class*='versed-line-number-'] {
    display: block;
    text-indent: -($runover-indent);
    margin-left: $runover-indent;
}

// Indent runovers of indented lines
@for $i from 1 through 50 {
    $add-margin: $i + $runover-indent;
    .versed .versed-line-indent-#{$i}-em {
        margin-left: $add-margin;
        text-indent: -($add-margin)
    }
}

// Line numbers
.versed.versed-number-lines {
    counter-reset: line;
    [class*='versed-line-'] {
        clear: right; // avoids two line numbers on one line
        &:after {
            counter-increment: line;
            content: counter(line);
            color: $line-numbers-color;;
            float: right;
            margin-left: $runover-indent;
            text-indent: 0;
            font-size: $line-numbers-size;
            margin-top: 1 - $line-numbers-size; // aligns numbers with text after font-size change
        }
    }
}

// Overrides for print not yet necessary
@media print {}
